<div id="{{.ID}}"
     class="transition-all pointer-events-auto flex items-center w-full max-w-xs p-4 text-neutral-200 bg-neutral-700 rounded-lg drop-shadow-xl duration-500 ease-in-out"
     role="alert">
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-neutral-200  rounded-lg ">
        {{.SVG}}
    </div>
    <div class="ml-3 text-sm font-normal">{{.Msg}}</div>

</div>