{{define "dashboard.gohtml"}}
    <div class="m-3">
        {{range .Rows}}
            <div class="row">
                {{range . }}
                    {{template "launcher_icon.gohtml" .}}
                {{end}}
            </div>
        {{end}}
    </div>
{{end}}